@import "tailwindcss";

@theme {
    --color-primary: #2b435d;
    --color-secondary: #3b82f6;
    --font-size-main: 18px;
    --font-size-logo: 28px;
    --logo-size: 52px;
}

@layer components {
    .text-primary {
        color: var(--color-primary);
    }
    .text-secondary {
        color: var(--color-secondary);
    }
    .hover\:text-secondary:hover {
        color: var(--color-secondary);
    }
    .text-main {
        font-size: var(--font-size-main);
    }
    .text-logo {
        font-size: var(--font-size-logo);
    }
}
